<% if flash[:error] %>
	<div class="notification is-danger">
  		<h4><%= flash[:error] %></h4>
			<% puts @user.errors %>
  	</div>
<% end %>
<h1 class="title signup-title">Create an Account</h1>
<p class="subtitle subtitle-title"> fields with <span class="required-field">*</span> are required</p>
<div class="auth-body input-divs">
  <form method="post" action="/signup">
      <div class="field">
        <label class="label" for="name" >Name </label>
        <p class="control has-icons-left has-icons-right">
          <input class="input" type="text" placeholder="Name" id="name" name="name">
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
        </p>
      </div>

      <div class="field">
        <label class="label" for="username" >Username <span class="required-field">*</span> </label>
        <p class="control has-icons-left has-icons-right">
          <input class="input" type="text" placeholder="Username" id="username" name="username">
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
        </p>
      </div>

      <div class="field">
        <label class="label" for="email" >Email <span class="required-field">*</span> </label>
        <p class="control has-icons-left has-icons-right">
          <input class="input" type="email" placeholder="Email" id="email" name="email">
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
        </p>
      </div>

      <div class="field">
        <label class="label" for="password" >Password <span class="required-field">*</span> </label>
        <p class="control has-icons-left">
          <input class="input" type="password" placeholder="Password" id="password" name="password">
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>

			<div class="field has-text-centered auth-btn">
	    	<button class="button is-success auth-btn">
	      	Sign Up
	    	</button>
			</div>
      <p class="has-text-centered">Already have an account? <a href="/login"> sign in </a></p>
		</form>
</div>
