<div class="columns is-centered landing home-body">
	<div class="column is-one-third has-text-centered">
		<h5 class="title is-5"> Jot down ideas and memories with <span class="brand-text"> My Diary </span> </h5>
		<p class="subtitle is-6 welcome-quote">
      <q>
        <em>We do not know the true value of our moments until they have undergone the test of memory.</em>
      </q>
      <span class="quote-author"> - Georges Duhamel </span>
    </p>
		<div class="column is-one-third is-offset-one-third">
			<a class="button is-primary" href="/signup">Get Started</a>
		</div>
	</div>
</div>
